@import '../../sass/colors.scss';

.service-section {
    padding-top: 100px;
    padding-bottom: 70px;

    .service-title-text {
        padding-top: 20px;
        max-width: 600px;
        margin: 0 0 0 auto;
        font-weight: 500;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.8s ease;

        &.aos-animate {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .services-link {
        margin: 50px 0 30px;

        a {
            color: #8F5197;
            text-decoration: none;
            font-weight: 700;
            background: #583fbc1e;
            padding: 15px 25px;
            display: inline-block;
            border-radius: 15px;
            transition: all 0.3s ease;

            svg {
                margin-left: 10px;
                font-size: 20px;
                top: -2px;
                position: relative;
                transition: transform 0.3s ease;
            }

            &:hover {
                background: $color-blue;
                color: #fff;
                transform: translateY(-3px);

                svg {
                    transform: translateX(5px);
                }
            }
        }
    }
}

// Mobile Responsive
@media (max-width: 575px){
    .service-section {
        .service-title-text { padding-top: 0; margin-bottom: 10px; }
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .service-section {
        .service-title-text { padding-top: 0; margin-bottom: 30px; }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .service-section {
        .service-title-text { padding-top: 0; margin-bottom: 30px; }
    }
}
